h1 {
    display: flex;
    justify-content: center;
}

main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


section p {
    max-width: 50%;
}
p{
    text-align: justify;
}
hr {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    width: 80%;
  }

  main img{
    box-shadow: 2px 2px #000;
    border: solid 2px #000;
    border-radius: 12px;
}